<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bteamdevelopment.qrapplication" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission android:protectionLevel="signature"
        android:name="bteamdevelopment.qrapplication.permission.C2D_MESSAGE" />
    <uses-permission android:name="bteamdevelopment.qrapplication.permission.C2D_MESSAGE" />

    <application
        android:name="bteamdevelopment.qrapplication.ParseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="bteamdevelopment.qrapplication.ParseActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="bteamdevelopment.qrapplication.LoginSignupActivity"
            android:label="@string/title_activity_login_signup" >
        </activity>
        <activity
            android:name="bteamdevelopment.qrapplication.MainActivity"
            android:label="@string/title_activity_welcome" >
        </activity>
        <activity
            android:name="bteamdevelopment.qrapplication.MessageActivity"
            android:label="@string/title_activity_message" >
        </activity>
        <activity
            android:name="bteamdevelopment.qrapplication.UserProfile"
            android:label="@string/title_activity_user_profile" >
        </activity>
        <activity
            android:name="bteamdevelopment.qrapplication.Chat"
            android:label="@string/title_activity_chat" >
        </activity>

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="bteamdevelopment.qrapplication" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
